:root {
  --color-1: 218, 65, 103;
  --color-2: 61, 38, 69;
  --color-3: 131, 33, 97;
  --color-4: 21, 32, 97;
  --color-em-underline-fg: rgba(255, 0, 0, 0.3);
  --color-exercise-bg: rgba(var(--color-3), 0.2);
  --color-extra-bg: rgba(var(--color-4), 0.2);
  --color-main-bg: #eee;
  --color-numbering-fg: rgba(var(--color-2), 0.8);
  --color-table-bg: rgba(var(--color-2), 0.2);
  --color-table-fg: rgba(var(--color-1), 0.8);
  --color-subtitle-fg: currentColor;
  --font-size: 16pt;
  --line-height: 2;
}

html {
  cursor: unset;
}

[hidden] {
  display: none !important;
}

.sidebar {
  grid-area: s;
  max-width: 100ch;
  overflow-y: scroll;
}

.content {
  grid-area: c;
  max-width: 100ch;
  overflow-y: scroll;
}

.header {
  grid-area: h;
}

.footer {
  grid-area: f;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'h h h h h'
    's c c c c'
    'f f f f f';
  grid-template-columns: auto 1fr 1fr 1fr 1fr;
}

body {
  background-color: var(--color-main-bg);
  line-height: var(--line-height);
  margin: 5%;
  overflow-wrap: break-word;
  word-break: break-word;
}

body div#spacer_bottom {
  height: 10vh;
}

body ul.liststyletypenone {
  list-style-type: none;
}

body main {
  margin: 0 auto;
}

body p {
  margin-block-end: 1em;
  margin-block-start: 1em;
}

body ol,
body ul {
  margin-block-end: 1em;
  margin-block-start: 1em;
  padding-inline-start: 40px;
}

body .bron {
  font-size: 1.2rem;
}

body .subtitle {
  color: var(--color-subtitle-fg);
  font-style: italic;
  text-align: center;
}

body pre {
  counter-reset: line;
  margin: 0;
  margin-block-end: 10px;
  margin-block-start: 10px;
}

body .extra {
  background-color: var(--color-extra-bg);
  margin-block-end: 10px;
  margin-block-start: 10px;
  max-width: fit-content;
  min-width: 100%;
  padding: 5px;
}

body .extra::after {
  bottom: 0;
  content: '🧐';
  font-size: 2rem;
  position: relative;
  right: 10px;
}

body em.term {
  text-decoration: solid var(--color-em-underline-fg) underline;
}

body cite {
  font-style: unset;
}

body table {
  background-color: var(--color-table-bg);
  border-collapse: collapse;
  margin: 1rem;
  table-layout: auto;
}

body table th,
body table td {
  padding: 0.4rem;
  padding-inline-end: 1rem;
  text-align: left;
  vertical-align: top;
}

body table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

body table tr {
  border-bottom: 1px solid rgba(var(--color-1), 0.4);

  /* TODO: does not work well.
    break-inside: avoid-column; */
  text-align: left;
}

body table caption,
body figure figcaption {
  border-bottom: 1px solid currentColor;
  font-size: 0.8rem;
  font-style: oblique;
  margin-bottom: 1ch;
  text-align: start;
}

body .textalign_right {
  text-align: right;
}

body .textalign_center {
  text-align: center;
}

body .indexlocator {
  color: var(--color-numbering-fg);
  display: block;
}

body [data-eenheid] {
  margin-bottom: 35px;
}

body [data-leeruitkomst]::before {
  content: '🎯 ';
}

body [data-leeruitkomst] {
  font-size: 0.8rem;
}

body abbr {
  border-bottom: none;
  cursor: help;
  text-underline-offset: 10%;
}

body .leeruitkomsten {
  display: inline-block;
}

body a,
body *::part(a) {
  color: #4c74b9;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: #b3b8c4;
  text-decoration-line: underline;
  text-decoration-skip: none;
  text-decoration-skip-ink: none;
  text-decoration-thickness: from-font;
  text-underline-position: under;
}

body *::part(a):hover,
body a:hover {
  text-decoration-color: #829dce !important;
}

@keyframes lightup {
  0% {
    background-color: rgba(207, 172, 16, 0.03);
  }

  100% {
    background-color: rgba(207, 172, 16, 0.2);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

@keyframes fadein {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

body details > summary {
  cursor: pointer;
  outline: none;
  width: 100%;
}

body details summary::-webkit-details-marker {
  display: none;
}

body details {
  /* TODO: Fix */
  /* stylelint-disable indentation -- Incompatibility between formatter and stylelint */
  background: linear-gradient(to right, rgba(115, 119, 172, 0.15) 3px, transparent 3px) 0 0,
    linear-gradient(to right, rgba(115, 119, 172, 0.15) 3px, transparent 3px) 0 100%,
    linear-gradient(to left, rgba(115, 119, 172, 0.15) 3px, transparent 3px) 100% 0,
    linear-gradient(to left, rgba(115, 119, 172, 0.15) 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, rgba(115, 119, 172, 0.15) 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, rgba(115, 119, 172, 0.15) 3px, transparent 3px) 100% 0,
    linear-gradient(to top, rgba(115, 119, 172, 0.15) 3px, transparent 3px) 0 100%,
    linear-gradient(to top, rgba(115, 119, 172, 0.15) 3px, transparent 3px) 100% 100%;
  /* stylelint-enable indentation */
  background-repeat: no-repeat;
  background-size: 10px 10px;
  margin-block-start: 10px;
  overflow: scroll;
  padding: 3ch;
}

body details[open] > summary {
  animation: fadein 0.4s ease-out forwards;
}

body details:not([open]) > summary {
  animation: fadeout 0.4s ease-out forwards;
}

body h1,
body summary h2,
body summary h3,
body summary h4,
body summary h5,
body summary h6,
body .textalign_center {
  text-align: center;
}

body #bibliography {
  display: flex;
  flex-direction: column;
}

body .csl-entry {
  display: flex;
  justify-content: left;
}

@media screen and (prefers-reduced-motion: no-preference) {
  @keyframes sweep {
    0% {
      margin-left: -10px;
      opacity: 0;
    }

    100% {
      margin-left: 0;
      opacity: 1;
    }
  }

  body details[open] > summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }

  @keyframes grabattention {
    0% {
      transform: scale(1);
    }

    25% {
      transform: skew(90deg) scale(1.5);
    }

    50% {
      transform: skew(180deg) scale(2);
    }

    75% {
      transform: skew(90deg) scale(1.5);
    }

    100% {
      transform: scale(1);
    }
  }

  body .csl-entry:target {
    animation: grabattention 1s;
  }
}

body .csl-entry:target {
  color: rgb(var(--color-3));
  font-weight: bold;
}

body .csl-entry > * {
  width: fit-content;
}

body .csl-left-margin {
  align-self: flex-start;
  flex-shrink: 0;
  padding-right: 20px;
}

body .csl-right-inline {
  align-self: flex-start;
}

body .columns {
  column-count: 2;
  column-width: auto;
  margin: 0 auto;
  overflow: scroll;
  width: 100%;
}

body .nowrap {
  white-space: nowrap;
}

body .columns#columns_groeiordes {
  column-width: 15rem;
}

body .columns#columns_verwaarlooskleineretermen {
  column-width: 16rem;
}

body .columns#columns_begrenzingen {
  column-width: 21rem;
}

body .columns#columns_verwaarloosconstanten {
  column-width: 20rem;
}

body .columns > * {
  margin: 0 auto;
  overflow: scroll;
  width: 100%;
}

body .bbox {
  border: 2px solid currentColor;
  padding: 3px;
}

body .instructor_only {
  background-color: rgba(207, 172, 16, 0.2);
}
